<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!-- <link rel="icon" href="../images/favicon.ico"> -->

		<title>Dashboard - MAP Icon PLN</title>

		<!-- Vendors Style-->
		<link rel="stylesheet" href="/sunny-admin/assets/vendor_components/bootstrap/dist/css/bootstrap.css" <link rel="stylesheet" href="/sunny-admin/css/vendors_css.css" />

		<!-- Style-->
		<link rel="stylesheet" href="/sunny-admin/css/style.css" />
		<link rel="stylesheet" href="/sunny-admin/css/skin_color.css" />

		<!-- <style>
      i{
        align-items: center;
        text-align: center;
      }
    </style> -->
	</head>

	<body class="hold-transition light-skin sidebar-mini theme-primary">
		<div class="wrapper">
			<header class="main-header">
				<nav class="navbar navbar-static-top pl-30">
					<!-- Sidebar toggle button-->
					<div>
						<ul class="nav">
							<li class="btn-group nav-item">
								<a href="#" class="waves-effect waves-light nav-link rounded svg-bt-icon" data-toggle="push-menu" role="button">
									<i class="nav-link-icon mdi mdi-menu"></i>
								</a>
							</li>
						</ul>
					</div>

					<div class="navbar-custom-menu r-side">
						<ul class="nav navbar-nav">
							<li class="dropdown user user-menu">
								<a href="#" class="waves-effect waves-light rounded dropdown-toggle p-0" data-toggle="dropdown" title="User"> <img src="/images/default-profile-picture.png" /> <%= user.username %> </a>
								<ul class="dropdown-menu animated flipInX">
									<li class="user-body">
										<a class="dropdown-item" href="<%= `${baseUrl}/api/authentication/logout` %>"><i class="ti-lock text-muted mr-2"></i> Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">
				<!-- sidebar-->
				<section class="sidebar">
					<div class="user-profile">
						<div class="ulogo">
							<a href="<%= baseUrl %>">
								<!-- logo for regular state and mobile devices -->
								<div class="d-flex align-items-center justify-content-center">
									<img src="/images/logo-map.png" class="w-100" />
								</div>
								<h5><b>MAP Icon PLN</b></h5>
							</a>
						</div>
					</div>

					<!-- sidebar menu-->
					<ul class="sidebar-menu" data-widget="tree">
						<li class="active">
							<a href="<%= baseUrl %>">
								<i data-feather="pie-chart"></i>
								<span>Dashboard</span>
							</a>
						</li>

						<li class="header nav-small-cap">Main Menu</li>

						<!-- prettier-ignore -->
						<% if (user.role == "ptl-admin") { %>
						<li>
							<a href="<%= `${baseUrl}/submit-pa` %>">
								<i data-feather="plus"></i>
								<span>Submit PA</span>
							</a>
						</li>
						<% } %>

						<!-- prettier-ignore -->
						<% if (user.role == "mitra-admin") { %>
						<li>
							<a href="<%= `${baseUrl}/update-pa` %>">
								<i data-feather="edit"></i>
								<span>Update PA</span>
							</a>
						</li>
						<% } %>

						<li>
							<a href="<%= `${baseUrl}/monitoring-pa` %>">
								<i data-feather="database"></i>
								<span>Monitoring PA</span>
							</a>
						</li>

						<!-- prettier-ignore -->
						<% if (user.role == "ptl-admin") { %>
						<li>
							<a href="<%= `${baseUrl}/aging` %>">
								<i data-feather="pie-chart"></i>
								<span>Aging</span>
							</a>
						</li>
						<% } %>
					</ul>
				</section>
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div class="container-full">
					<!-- Main content -->
					<section class="content">
						<div class="row">
							<div class="col-xl-2 col-6">
								<div class="box overflow-hidden pull-up hov-rs">
									<div class="box-body text-center">
										<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
											<i class="text-primary mr-0 font-size-24 mdi mdi-account"></i>
										</div>
										<div>
											<p class="text-mute mt-20 mb-0 font-size-16"><%= user.username %></p>
											<h3 class="text-dark mb-0 font-weight-500"><%= totalPaDoneBai %>/<%= totalPa %></h3>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr />

						<div class="row">
							<!--Box progress!-->
							<div class="col-xl-2 col-6">
								<div class="box overflow-hidden pull-up hov-rs">
									<div class="box-body text-center">
										<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
											<i class="text-primary mr-0 font-size-24 mdi mdi-ethernet-cable"></i>
										</div>
										<div>
											<p class="text-mute mt-20 mb-0 font-size-16">Penarikan</p>
											<h3 class="text-dark mb-0 font-weight-500"><%= totalPaDonePenarikan %>/<%= totalPa %></h3>
										</div>
									</div>
								</div>
							</div>

							<div class="col-xl-2 col-6">
								<div class="box overflow-hidden pull-up hov-rs">
									<div class="box-body text-center">
										<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
											<i class="text-primary mr-0 font-size-24 mdi mdi-bullseye"></i>
										</div>
										<div>
											<p class="text-mute mt-20 mb-0 font-size-16">Tracing Core</p>
											<h3 class="text-dark mb-0 font-weight-500"><%= totalPaDoneTracingCore %>/<%= totalPa %></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-6">
								<div class="box overflow-hidden pull-up hov-rs">
									<div class="box-body text-center">
										<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
											<i class="text-primary mr-0 font-size-24 mdi mdi-access-point"></i>
										</div>
										<div>
											<p class="text-mute mt-20 mb-0 font-size-16">Testcom</p>
											<h3 class="text-dark mb-0 font-weight-500"><%= totalPaDoneTestcom %>/<%= totalPa %></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-6">
								<div class="box overflow-hidden pull-up hov-rs">
									<div class="box-body text-center">
										<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
											<i class="text-primary mr-0 font-size-24 mdi mdi-content-paste"></i>
										</div>
										<div>
											<p class="text-mute mt-20 mb-0 font-size-16">On Progress BAI</p>
											<h3 class="text-dark mb-0 font-weight-500"><%= totalPaOnProgressBai %>/<%= totalPa %></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-6">
								<div class="box overflow-hidden pull-up hov-rs">
									<div class="box-body text-center">
										<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
											<i class="text-primary mr-0 font-size-24 mdi mdi-checkbox-marked"></i>
										</div>
										<div>
											<p class="text-mute mt-20 mb-0 font-size-16">PA Done</p>
											<h3 class="text-dark mb-0 font-weight-500"><%= totalPaDoneBai %>/<%= totalPa %></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-6">
								<div class="box overflow-hidden pull-up hov-rs">
									<div class="box-body text-center">
										<div class="icon bg-primary-light rounded w-60 h-60 mx-auto">
											<i class="text-primary mr-0 font-size-24 mdi mdi-exclamation"></i>
										</div>
										<div>
											<p class="text-mute mt-20 mb-0 font-size-16">PA Kendala</p>
											<h3 class="text-dark mb-0 font-weight-500"><%= totalPaKendala %>/<%= totalPa %></h3>
										</div>
									</div>
								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</section>
					<!-- /.content -->
				</div>
			</div>
			<!-- /.content-wrapper -->

			<footer class="main-footer">
				<div class="pull-right d-none d-sm-inline-block">
					<ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
						<img class="p-2" src="/images/logo-pln.png" alt="Your Logo" style="max-height: 40px; /* adjust height as needed */" />
					</ul>
				</div>
				&copy; 2023 MAP Icon PLN. All Rights Reserved.
			</footer>
		</div>
		<!-- ./wrapper -->

		<script src="/sunny-admin/js/vendors.min.js"></script>
		<script src="/sunny-admin/assets/icons/feather-icons/feather.min.js"></script>
		<script src="/sunny-admin/assets/vendor_components/datatable/datatables.min.js"></script>
		<script src="/sunny-admin/assets/vendor_components/chart.js-master/Chart.min.js"></script>
		<script src="/sunny-admin/assets/vendor_components/chartist-js-develop/chartist.js"></script>
		<script src="/sunny-admin/js/pages/widget-charts2.js"></script>
		<script src="/sunny-admin/js/pages/widget-chartist.js"></script>

		<!-- Sunny Admin App -->
		<script src="/sunny-admin/js/template.js"></script>
	</body>
</html>
