<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="icon" href="../images/favicon.ico"> -->

		<title>Aging - MAP Icon Plus</title>

		<!-- Vendors Style-->
		<link rel="stylesheet" href="/sunny-admin/css/vendors_css.css" />

		<!-- Style-->
		<link rel="stylesheet" href="/sunny-admin/css/style.css" />
		<link rel="stylesheet" href="/sunny-admin/css/skin_color.css" />

		<style>
			/* CSS to style the edit button */
			.btn-edit {
				padding: 15px 5px; /* Adjust padding to change button size */
				margin: 5px 5px 5px 5px;
				height: 28px;
				width: 100%;
				font-size: 10px; /* Adjust font size */
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.btn-td {
				width: 10%;
				vertical-align: middle;
				justify-content: center;
				align-items: center;
			}
		</style>
	</head>

	<body class="hold-transition light-skin sidebar-mini theme-primary">
		<div class="wrapper">
			<header class="main-header">
				<nav class="navbar navbar-static-top pl-30">
					<!-- Sidebar toggle button-->
					<div>
						<ul class="nav">
							<li class="btn-group nav-item">
								<a href="#" class="waves-effect waves-light nav-link rounded svg-bt-icon" data-toggle="push-menu" role="button">
									<i class="nav-link-icon mdi mdi-menu"></i>
								</a>
							</li>
						</ul>
					</div>

					<div class="navbar-custom-menu r-side">
						<ul class="nav navbar-nav">
							<li class="dropdown user user-menu">
								<a href="#" class="waves-effect waves-light rounded dropdown-toggle p-0" data-toggle="dropdown" title="User"> <img src="/images/default-profile-picture.png" alt="" /> <%= user.username %> </a>
								<ul class="dropdown-menu animated flipInX">
									<li class="user-body">
										<a class="dropdown-item" href="<%= `${baseUrl}/api/authentication/logout` %>"><i class="ti-lock text-muted mr-2"></i> Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<aside class="main-sidebar">
				<!-- sidebar-->
				<section class="sidebar">
					<div class="user-profile">
						<div class="ulogo">
							<a href="dashboard.html">
								<!-- logo for regular state and mobile devices -->
								<div class="d-flex align-items-center justify-content-center">
									<img src="/images/logo-map.png" class="w-100" />
								</div>
								<h5><b>MAP Icon PLN</b></h5>
							</a>
						</div>
					</div>

					<!-- sidebar menu-->
					<ul class="sidebar-menu" data-widget="tree">
						<li>
							<a href="<%= baseUrl %>">
								<i data-feather="pie-chart"></i>
								<span>Dashboard</span>
							</a>
						</li>

						<li class="header nav-small-cap">Main Menu</li>

						<li>
							<a href="<%= `${baseUrl}/submit-pa` %>">
								<i data-feather="plus"></i>
								<span>Submit PA</span>
							</a>
						</li>

						<li>
							<a href="<%= `${baseUrl}/monitoring-pa` %>">
								<i data-feather="database"></i>
								<span>Monitoring PA</span>
							</a>
						</li>

						<li class="active">
							<a href="<%= `${baseUrl}/aging` %>">
								<i data-feather="pie-chart"></i>
								<span>Aging</span>
							</a>
						</li>
					</ul>
				</section>
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div class="container-full">
					<!-- Content Header (Page header) -->
					<div class="content-header">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="page-title">Map Icon PLN</h3>
								<div class="d-inline-block align-items-center">
									<nav>
										<ol class="breadcrumb">
											<li class="breadcrumb-item">
												<a href="<%= baseUrl %>"><i class="mdi mdi-home-outline"></i></a>
											</li>
											<li class="breadcrumb-item active" aria-current="page">Aging</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>

					<!-- Main content -->

					<div class="box-body">
						<div class="col-12">
							<div class="box">
								<div class="box-body">
									<div>
										<canvas id="myChart" height="auto"> </canvas>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- /.content -->
				</div>
			</div>
			<!-- /.content-wrapper -->

			<footer class="main-footer">
				<div class="pull-right d-none d-sm-inline-block">
					<ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
						<img class="p-2" src="images/logo-pln.png" alt="Your Logo" style="max-height: 40px; /* adjust height as needed */" />
					</ul>
				</div>
				&copy; 2023 MAP Icon PLN. All Rights Reserved.
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- prettier-ignore -->
		<div id="mitra-data" data-mitra='<%- JSON.stringify(mitra) %>'></div>

		<!-- Vendor JS -->
		<script src="/sunny-admin/js/vendors.min.js"></script>
		<script src="/sunny-admin/assets/icons/feather-icons/feather.min.js"></script>
		<script src="/sunny-admin/assets/vendor_components/datatable/datatables.min.js"></script>
		<script src="/sunny-admin/assets/vendor_components/chart.js-master/Chart.min.js"></script>
		<script src="/sunny-admin/assets/vendor_components/chartist-js-develop/chartist.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<!-- <script src="/sunny-admin/js/pages/widget-chartist.js"></script> -->

		<!-- Sunny Admin App -->
		<script src="/sunny-admin/js/template.js"></script>

		<!-- Sunny Admin App -->

		<script>
			const mitra = JSON.parse(document.querySelector("#mitra-data").dataset.mitra)
			const ctx = document.getElementById("myChart")

			new Chart(ctx, {
				type: "bar",
				data: {
					labels: mitra.map((mitra) => mitra.mitra),
					datasets: [
						{
							label: "Rata rata Aging",
							data: mitra.map((mitra) => mitra.average),
							borderWidth: 1,
						},
					],
				},
				options: {
					indexAxis: "y",
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						bar: {
							borderWidth: 2,
						},
					},
					responsive: true,
					plugins: {
						legend: {
							position: "right",
						},
						title: {
							display: true,
							text: "Aging",
						},
					},
				},
			})
		</script>
	</body>
</html>
