<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="icon" href="../images/favicon.ico"> -->

		<title>Submit PA - MAP Icon PLN</title>

		<!-- Vendors Style-->
		<link rel="stylesheet" href="/sunny-admin/css/vendors_css.css" />

		<!-- Style-->
		<link rel="stylesheet" href="/sunny-admin/css/style.css" />
		<link rel="stylesheet" href="/sunny-admin/css/skin_color.css" />
	</head>

	<body class="hold-transition light-skin sidebar-mini theme-primary">
		<div class="wrapper">
			<header class="main-header">
				<nav class="navbar navbar-static-top pl-30">
					<!-- Sidebar toggle button-->
					<div>
						<ul class="nav">
							<li class="btn-group nav-item">
								<a href="#" class="waves-effect waves-light nav-link rounded svg-bt-icon" data-toggle="push-menu" role="button">
									<i class="nav-link-icon mdi mdi-menu"></i>
								</a>
							</li>
						</ul>
					</div>

					<div class="navbar-custom-menu r-side">
						<ul class="nav navbar-nav">
							<li class="dropdown user user-menu">
								<a href="#" class="waves-effect waves-light rounded dropdown-toggle p-0" data-toggle="dropdown" title="User"> <img src="/images/default-profile-picture.png" alt="" /> <%= user.username %> </a>
								<ul class="dropdown-menu animated flipInX">
									<li class="user-body">
										<a class="dropdown-item" href="<%= `${baseUrl}/api/authentication/logout` %>"><i class="ti-lock text-muted mr-2"></i> Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<aside class="main-sidebar">
				<!-- sidebar-->
				<section class="sidebar">
					<div class="user-profile">
						<div class="ulogo">
							<a href="<%= baseUrl %>">
								<!-- logo for regular state and mobile devices -->
								<div class="d-flex align-items-center justify-content-center">
									<img src="/images/logo-map.png" class="w-100" />
								</div>
								<h5><b>MAP Icon PLN</b></h5>
							</a>
						</div>
					</div>

					<!-- sidebar menu-->
					<ul class="sidebar-menu" data-widget="tree">
						<li>
							<a href="<%= baseUrl %>">
								<i data-feather="pie-chart"></i>
								<span>Dashboard</span>
							</a>
						</li>

						<li class="header nav-small-cap">Main Menu</li>

						<li class="active">
							<a href="<%= `${baseUrl}/submit-pa` %>">
								<i data-feather="plus"></i>
								<span>Submit PA</span>
							</a>
						</li>

						<li>
							<a href="<%= `${baseUrl}/monitoring-pa` %>">
								<i data-feather="database"></i>
								<span>Monitoring PA</span>
							</a>
						</li>

						<li>
							<a href="<%= `${baseUrl}/aging` %>">
								<i data-feather="pie-chart"></i>
								<span>Aging</span>
							</a>
						</li>
					</ul>
				</section>
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div class="container-full">
					<!-- Content Header (Page header) -->
					<div class="content-header">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="page-title">Map Icon PLN</h3>
								<div class="d-inline-block align-items-center">
									<nav>
										<ol class="breadcrumb">
											<li class="breadcrumb-item">
												<a href="<%= baseUrl %>"><i class="mdi mdi-home-outline"></i></a>
											</li>
											<li class="breadcrumb-item active" aria-current="page">Submit PA</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>

					<!-- Main content -->
					<section class="content">
						<div class="row">
							<div class="col-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">Submit PA</h3>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<form method="post" action="/api/dashboard/submit-pa">
											<div class="form-group row">
												<label class="col-form-label col-lg-2">ID PA <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="text" name="idPa" class="form-control" placeholder="ID PA" value="<%= flashMessages.idPaInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.idPaInputError?.[0] %></small>
												</div>

												<label class="col-form-label col-lg-2">Tanggal Terbit PA <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="date" name="tanggalTerbitPa" class="form-control" placeholder="Tanggal Terbit PA" value="<%= flashMessages.tanggalTerbitPaInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.tanggalTerbitPaInputError?.[0] %></small>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-form-label col-lg-2">Customer <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="text" name="customer" class="form-control" placeholder="Customer" value="<%= flashMessages.customerInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.customerInputError?.[0] %></small>
												</div>

												<label class="col-form-label col-lg-2">Lokasi <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="text" name="lokasi" class="form-control" placeholder="Lokasi" value="<%= flashMessages.lokasiInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.lokasiInputError?.[0] %></small>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-form-label col-lg-2">Layanan <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="text" name="layanan" class="form-control" placeholder="Layanan" value="<%= flashMessages.layananInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.layananInputError?.[0] %></small>
												</div>

												<label class="col-form-label col-lg-2">Bandwith <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="number" name="bandwidth" class="form-control" placeholder="Bandwith" value="<%= flashMessages.bandwidthInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.bandwidthInputError?.[0] %></small>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-form-label col-lg-2">Mitra <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<select class="form-control" name="mitra" required>
														<% mitra.forEach(mitra => { %>
														<option value="<%= mitra.mitra_id %>"><%= mitra.mitra_name %></option>
														<% }) %>
													</select>
													<small class="text-danger"> <%= flashMessages.mitraInputError?.[0] %></small>
												</div>

												<label class="col-form-label col-lg-2">Panjang Tarikan <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="number" name="panjangTarikan" class="form-control" placeholder="Panjang Tarikan" value="<%= flashMessages.panjangTarikanInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.panjangTarikanInputError?.[0] %></small>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-form-label col-lg-2">Jumlah JB <span class="text-danger">*</span></label>
												<div class="col-lg-4">
													<input type="number" name="jumlahJb" class="form-control" placeholder="Mitra" value="<%= flashMessages.jumlahJbInputValue?.[0] %>" />
													<small class="text-danger"> <%= flashMessages.jumlahJbInputError?.[0] %></small>
												</div>
											</div>

											<div class="pull-right mt-4">
												<button type="submit" class="btn btn-rounded btn-primary mb-5">Submit</button>
											</div>
										</form>

										<div class="row mt-3">
											<div class="col-lg-3">
												<form method="post" action="/api/dashboard/import-excel-submit-pa" enctype="multipart/form-data">
													<label>Import PA</label>
													<div class="input-group">
														<input type="file" name="pa" class="form-control" placeholder="Import PA" required />
														<div class="input-group-append">
															<button type="submit" class="btn btn-rounded btn-success">Import</button>
														</div>
													</div>
													<small class="text-danger"><%= flashMessages.excelInputError?.[0] %></small>
												</form>
											</div>
										</div>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>

							<!-- /.col -->
						</div>

						<div class="row">
							<div class="col-12">
								<div class="box">
									<div class="box-header with-border">
										<h3 class="box-title">Daftar PA</h3>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<%- flashMessages.message?.[0] %>
										<div class="table-responsive">
											<table id="example1" class="table table-bordered table-striped" style="width: 100%">
												<thead>
													<tr>
														<th>No</th>
														<th>ID PA</th>
														<th>Tanggal Terbit PA</th>
														<th>Customer</th>
														<th>Lokasi</th>
														<th>Layanan</th>
														<th>Bandwith (Mbps)</th>
														<th>Mitra</th>
														<th>Panjang Tarikan (M)</th>
														<th>Jumlah JB</th>
														<th>Aksi</th>
													</tr>
												</thead>
												<tbody>
													<% pa.forEach((pa, index) => { %>
													<tr>
														<td><%= index + 1 %></td>
														<td><%= pa.id_pa %></td>
														<td><%= `${new Date(pa.tanggal_terbit_pa).getDate()}-${new Date(pa.tanggal_terbit_pa).getMonth() + 1}-${new Date(pa.tanggal_terbit_pa).getFullYear()}` %></td>
														<td><%= pa.customer %></td>
														<td><%= pa.lokasi %></td>
														<td><%= pa.layanan %></td>
														<td><%= pa.bandwidth %></td>
														<td><%= pa.mitra %></td>
														<td><%= pa.panjang_tarikan %></td>
														<td><%= pa.jumlah_jb %></td>
														<td><a href="<%= `${baseUrl}/api/dashboard/${pa.id_pa}/delete-pa` %>" class="btn btn-danger">Hapus</a></td>
													</tr>
													<% }) %>
												</tbody>
											</table>
										</div>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>

							<!-- /.col -->
						</div>

						<!-- /.row -->
					</section>
					<!-- /.content -->
				</div>
			</div>
			<!-- /.content-wrapper -->

			<footer class="main-footer">
				<div class="pull-right d-none d-sm-inline-block">
					<ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
						<img class="p-2" src="/images/logo-pln.png" alt="Your Logo" style="max-height: 40px; /* adjust height as needed */" />
					</ul>
				</div>
				&copy; 2023 MAP Icon PLN. All Rights Reserved.
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- Vendor JS -->
		<script src="/sunny-admin/js/vendors.min.js"></script>
		<script src="/sunny-admin/assets/icons/feather-icons/feather.min.js"></script>
		<script src="/sunny-admin/assets/vendor_components/datatable/datatables.min.js"></script>
		<script src="/sunny-admin/js/pages/data-table.js"></script>

		<!-- Sunny Admin App -->
		<script src="/sunny-admin/js/template.js"></script>
		<script></script>
	</body>
</html>
